{% extends "base.html" %}

{% block style %}
    <style>


        .index-main-body {
            padding: 0;
            min-height: 590px;
            vertical-align: middle;
            text-align: left;
            white-space: normal;
            margin-left: auto;
            margin-right: auto;
            width: 300px;
        }


    </style>
{% endblock %}

{% block body %}
    <div class="index-main" style="text-align: center;">
        <br>
        <h3>修改密码</h3>
        <div class="index-main-body">
            <div class="tab-content" style="margin-top: 20px;">
                {% with messages = get_flashed_messages(with_categories=true) %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>{{ message }}
</div>
                        {% endfor %}

                {% endwith %}

                <form role="form" action="{{ url_for('account.change_password') }}"
                          method="POST">
                        {{ form.hidden_tag() }}
                        <div class="form-group required">
                            {{ form.old_password(size=16, class="form-control", placeholder="原始密码", required=True) }}
                            {% for error in form.errors.old_password %}
                                <p class="help-block" style="color: red;">* {{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="form-group required">
                            {{ form.password(size=16, class="form-control", placeholder="密码", required=True) }}
                            {% for error in form.errors.password %}
                                <p class="help-block" style="color: red;">* {{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="form-group required">
                            {{ form.password1(size=16, class="form-control", placeholder="确认密码", required=True) }}
                            {% for error in form.errors.password1 %}
                                <p class="help-block" style="color: red;">* {{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <div class="form-inline">
                                <img id="login_verification" src="{{ url_for('index.get_code') }}" onclick="javascript:this.src= $SCRIPT_ROOT + '/VerifyCode?tm='+Math.random()"/>
                                {{ form.verification(size=16, class="form-control pull-right", placeholder="验证码", required=True) }}
                                {% for error in form.errors.verification %}
                                    <p class="help-block" style="color: red;">* {{ error }}</p>
                                {% endfor %}
                            </div>

                        </div>
                        <button type="submit"
                                class="btn btn-block btn-lg btn-primary"
                                style="margin-top: 10px;">修改
                        </button>
                    </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static',filename='particles/particles.js') }}"></script>
    <script>
    $(function() {

    });




    </script>
{% endblock %}
